#menu {
	background: white;
	padding-top: 5px;
}
.tab-content {
}

.new {
	opacity: 0.3;
}

.old {
	opacity: 0.5;
}

.separator {
	font-weight: bold;
}

ul {
	list-style-type: none;
}

.tab-pane .nav-pills {
	padding: 6px 30px;
	position: fixed;
	width: calc(100% - 30px);
	top: 45px;
	border-bottom: 1px solid #EEE;
	background: white;
	z-index: 1;
	margin: 0 15px;
	height: 31px;
}
.tab-pane .nav-pills .active {
	opacity: .5;
}

.tab-pane table {
	margin: 80px 0 30px;
	padding: 0;
	width: 100%;
}
.tab-pane tr {
	padding: 2px 30px;
	display: block;
	vertical-align: top;
}
.tab-pane tr:nth-child(even) {
	background: #F9F9F9;
}


tr.old, tr.new  {
	word-wrap: break-word;
}

tr.pin:before {
	content: "\f08d";
	position: absolute;
	left: 10px;
	color: #d9534f;
	font-size: 1.2em !important;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	line-height: 140%;
}
.label {
	cursor: pointer;
	margin-top: 2px;
	display: block;
}

tr .file {
	font-weight: bold;
}
.aInLog {
	color: inherit;
}
.aInLog:hover {
	color: #23527c;
}



/* Padding */
.pan{padding:0}
.prn, .phn{padding-right:0}
.pln, .phn{padding-left:0}
.ptn, .pvn{padding-top:0}
.pbn, .pvn{padding-bottom:0}

.pas{padding:5px}
.prs, .phs{padding-right:5px}
.pls, .phs{padding-left:5px}
.pts, .pvs{padding-top:5px}
.pbs, .pvs{padding-bottom:5px}

.pam{padding:10px}
.prm, .phm{padding-right:10px}
.plm, .phm{padding-left:10px}
.ptm, .pvm{padding-top:10px}
.pbm, .pvm{padding-bottom:10px}

.pal{padding:20px}
.prl, .phl{padding-right:20px}
.pll, .phl{padding-left:20px}
.ptl, .pvl{padding-top:20px}
.pbl, .pvl{padding-bottom:20px}

/* Margin */
.man{margin:0}
.mrn, .mhn{margin-right:0}
.mln, .mhn{margin-left:0}
.mtn, .mvn{margin-top:0}
.mbn, .mvn{margin-bottom:0}

.mas{margin:5px}
.mrs, .mhs{margin-right:5px}
.mls, .mhs{margin-left:5px}
.mts, .mvs{margin-top:5px}
.mbs, .mvs{margin-bottom:5px}

.mam{margin:10px}
.mrm, .mhm{margin-right:10px}
.mlm, .mhm{margin-left:10px}
.mtm, .mvm{margin-top:10px}
.mbm, .mvm{margin-bottom:10px}

.mal{margin:20px}
.mrl, .mhl{margin-right:20px}
.mll, .mhl{margin-left:20px}
.mtl, .mvl{margin-top:20px}
.mbl, .mvl{margin-bottom:20px}